<!DOCTYPE html>
<html>
  <head>
    <title>Calendario de exames</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
    <link rel="icon" href="{% static 'favicon.png' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'build-calendar.js' %}"></script>
  </head>
  <body>
    <div id="main-flex">
      <main>
        {% block content %}
        {% endblock %}
      </main>
      <nav>
        <div>
          <a href="/"><i class="fa fa-home"></i> Inicio</a>
          <a href="/new/"><i class="fa fa-plus"></i> Engadir exame</a>
          <a href="/create-sd/"><i class="fa fa-calendar-plus-o"></i> Engadir data</a>
          <a href="/"><i class="fa fa-sign-out"></i> Saír</a>
          <!--
          <span id="darkmode-container">
          <i class="fa fa-adjust"></i> Modo Escuro<input type="checkbox" id="darkmode">
          </span>
          -->
        </div>
      </nav>
    </div>
  </body>
</html>