:root {
    --cal-head: mediumaquamarine;
    --cal-color: white;
    --text: black;
    --text-faint: grey;
    --bg: lightgrey;
    --day-special-0: lightskyblue;
    --day-special-1: peachpuff;
    --day-special-2: silver;
    --warn-bg: lightcoral;
}

:root:has(#darkmode:checked) {
    --cal-head: teal;
    --cal-color: black;
    --text: white;
    --text-faint: lightgray;
    --bg: #202020;
    --day-special-0: darkblue;
    --warn-bg: darkred;
}

body {
    background-color: var(--bg);
    color: var(--text);
    min-height: calc(90vh - 16px);
    padding: 0 15px;
}

#main-flex {
    display: flex;
    align-items: flex-start;
}

main {flex-grow: 2;}

nav {
    display: block;
    padding: 2em;
    max-height: 80vh;
}

nav div {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

nav a {
    color: inherit;
    display: block;
    text-align: left;
    font-size: 1.75em;
    text-decoration: none;
    margin-bottom: 10px;
}

.calendar-nav {
    color: inherit;
}

#calendar th, #calendar td {border: 1px solid var(--text);}

#calendar {
    background-color: var(--cal-color);
    border-collapse: collapse;
    border: 1px solid var(--text);
}

#calendar td {
    min-width: calc(66vw / 5);
    height: 6em;
    vertical-align: top;
}

#calendar div {
    color: var(--text);
    max-width: calc(66vw / 5);
}

#calendar div.exam-unconfirmed {color: var(--text-faint);}

#calendar a {
    text-decoration: none;
    color: inherit;
}

#calendar th {
    height: 2em;
    background-color: var(--cal-head);
}

#darkmode-container { font-size: 1.5em; }

.day-special-0 {background-color: var(--day-special-0);}
.day-special-1 {background-color: var(--day-special-1);}
.day-special-2 {background-color: var(--day-special-2);}

#delete-button {
    background-color: var(--warn-bg);
    border: 2px solid red;
    border-radius: 3px;
    font-size: 1em;
    padding: 5px 10px;
}

#delete-button:hover {
    background-color: red;
}